.container{
    display:flex;
    
    width:50vw;
    /* border: 1px solid black; */
}
.buttons-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:20vw;
    /* border:1px solid black; */
}
button{
    
    /* width:30%; */
    height:32px;
    background: none;
    border:1.5px solid black;
    border-radius: 7px;
    margin-left:5px;
    font-weight:bold;
}
.item-name{
    font-size:15px;
    color:black;
    font-weight:bold;
}